<div class="modal image-modal">
<ion-view class='add-home-view'>


  <ion-header-bar class="bar-stable">
    <i class="ion-close" id='close-modal-button' ng-click='closeModal()'></i>
    <h1 class="title">Edit Home</h1>
  </ion-header-bar>

  <ion-content class='add-home-content'>

  <section class='add-home-top-section'>
      <add-picture-dir></add-picture-dir>
      <div class='add-house-top-right'>
          <input id="house-input" type='text' placeholder="{{homesInList[selectedIndex].nickname}}" ng-model='home.nickname'>
          <input id="house-input" type='number' placeholder="${{homesInList[selectedIndex].price}}" ng-model='home.price'>

          <input id="house-input-left" type='number' placeholder="{{homesInList[selectedIndex].sq_feet}}" ng-model='home.sqFootage'>
          <input id="house-input-right" type='number' placeholder="{{homesInList[selectedIndex].year_build}}" ng-model='home.year'>
      </div>


  </section>

  <section class='add-house-middle-section'>
      <textarea id='house-description-textarea'  ng-model="homesInList[selectedIndex].description"> {{homesInList[selectedIndex].description}} </textarea>

      <div class='bedrooms-baths'>
        <input id="house-input-third" type='number' placeholder="{{homesInList[selectedIndex].bathrooms}}"  ng-model='home.bathrooms'>
        <input id="house-input-third" type='number' placeholder="{{homesInList[selectedIndex].bedrooms}}" ng-model='home.bedrooms'>
        <input id="house-input-third" type='number' placeholder="{{homesInList[selectedIndex].days_listed}}" ng-model='home.days_listed'>
      </div>
  </section>

  <section class='add-house-bottom-section'>

        <div id='address-label'>Address</div>
          <input id="house-input-bottom" type='text' placeholder="{{homesInList[selectedIndex].address_1}}" ng-model='home.address1'>
          <input id="house-input-left-bottom" type='text' placeholder="{{homesInList[selectedIndex].address_2}}" ng-model='home.address2'>
          <input id="house-input-right-bottom" type='text' placeholder="{{homesInList[selectedIndex].city}}" ng-model='home.city'>
          <input id="house-input-right-bottom" type='text' placeholder="{{homesInList[selectedIndex].province}}" ng-model='home.province'>
          <input id="house-input-left-bottom"  type='number' placeholder="{{homesInList[selectedIndex].zip}}" ng-model='home.zip'>

      <button class="button button-block button-energized" id='add-home-button' ng-click='saveEditedHome(home); showAlert()'>Update</button>
 </section>
  </ion-content>
</ion-view>
</div>
