<div class="modal image-modal">
<ion-view class='add-home-view'>


  <ion-header-bar class="bar-stable">
    <i class="ion-close" id='close-modal-button' ng-click='closeModal()'></i>
    <h1 class="title">Edit Home</h1>
  </ion-header-bar>

  <ion-content class='add-home-content'>

  <section class='add-home-top-section'>
      <add-picture-dir></add-picture-dir>
      <div class='add-house-top-right'>
          <input id="house-input" type='text' placeholder="{{homeToEdit.nickname}}" ng-model='homeToEdit.nickname'>
          <input id="house-input" type='number' placeholder="${{homeToEdit.price}}" ng-model='homeToEdit.price'>

          <input id="house-input-left" type='number' placeholder="{{homeToEdit.sq_feet}}" ng-model='homeToEdit.sqFootage'>
          <input id="house-input-right" type='number' placeholder="{{homeToEdit.year_build}}" ng-model='homeToEdit.year'>
      </div>


  </section>

  <section class='add-house-middle-section'>
      <textarea id='house-description-textarea'  ng-model="homeToEdit.description"> {{homeToEdit.description}} </textarea>

      <div class='bedrooms-baths'>
        <input id="house-input-third" type='number' placeholder="{{homeToEdit.bathrooms}}"  ng-model='homeToEdit.bathrooms'>
        <input id="house-input-third" type='number' placeholder="{{homeToEdit.bedrooms}}" ng-model='homeToEdit.bedrooms'>
        <input id="house-input-third" type='number' placeholder="{{homeToEdit.days_listed}}" ng-model='homeToEdit.days_listed'>
      </div>
  </section>

  <section class='add-house-bottom-section'>

        <div id='address-label'>Address</div>
          <input id="house-input-bottom" type='text' placeholder="{{homeToEdit.address_1}}" ng-model='homeToEdit.address1'>
          <input id="house-input-left-bottom" type='text' placeholder="{{homeToEdit.address_2}}" ng-model='homeToEdit.address2'>
          <input id="house-input-right-bottom" type='text' placeholder="{{homeToEdit.city}}" ng-model='homeToEdit.city'>
          <input id="house-input-right-bottom" type='text' placeholder="{{homeToEdit.province}}" ng-model='homeToEdit.province'>
          <input id="house-input-left-bottom"  type='number' placeholder="{{homeToEdit.zip}}" ng-model='homeToEdit.zip'>

      <button class="button button-block button-energized" id='add-home-button' ng-click='saveEditedHome(); showAlert()'>Update</button>
 </section>
  </ion-content>
</ion-view>
</div>
