
<ion-list show-delete="false" can-swipe='true' class="list ratings-list" ng-repeat="rating in myRatings" >

  <ion-item>
    <div class="rating-title">
      {{rating.rating_description}} {{rating.rating_value}}
    </div>
    <div class="item range range-positive">
      <i class="icon ion-android-radio-button-off"></i>
      <input type="range" name="volume" min="0" max="100" value="50" ng-model=rating.rating_value >
      <i class="icon ion-android-checkmark-circle"></i>
    </div>

  </ion-item>

</ion-list>


<button class="button button-energized" ng-click="editRatings(myRatings)">

Save your home ratings
</button>
