<div class="modal image-modal">
  <ion-header-bar class="bar-stable" id='header-bar' >
    <button type="button" ng-click="toggleLeft()" class="button icon button-clear ion-navicon-round"></button>
    <h1 class="title">Priorities</h1>
    <button type="button" ng-click="showSliders = !showSliders" class="button">Edit</button>
  </ion-header-bar>
  <ion-content id='priorities-content'>
    <button id='priorities-button' type="button" class="button button-block button-energized" name="button" ng-click="showPriorities()"><i id='add-priority-plus' class='ion-plus'></i>&nbspAdd a priority</button>
  <ion-list id='poop' show-delete="false" can-swipe='true' class="list ratings-list" ng-repeat="priority in defaultPriorities" >

    <ion-item id='priorities-list-item'>
      <div class="rating-title">
        <p>{{priority.priority_description}}</p> <p>{{priority.priority_value}}</p>
      </div>
      <div class="item range range-positive" id='priorities-slider' ng-show='showSliders'>
        <!-- <i class="icon ion-android-radio-button-off"></i> -->
        <input id='priorities-actual-slider' type="range" name="volume" min="0" max="100" value="50" ng-model=priority.priority_value >
        <!-- <i class="icon ion-android-checkmark-circle"></i> -->
      </div>
      <ion-option-button class="button-assertive ion ion-trash-a" ng-click="deletePriority(priority.id, $index)"></ion-option-button>
    </ion-item>

  </ion-list>



<button id='save-priorities-button' class="button button-energized button-block" ng-click="setPriorities()">
  Save priorities
</button>
</ion-content>
</div>
