<!-- header that shows up at top of page -->
<ion-side-menus>
  <ion-side-menu-content>
  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <button type="button" ng-click="toggleLeft()" class="button icon button-clear ion-navicon-round"></button>
      <h1 class="title">HomeBuyer</h1>
    </div>
  </ion-header-bar>


  </ion-side-menu-content>

<!-- menu that slides out from left -->
  <!-- Left menu -->
  <ion-side-menu side="left">

    <ion-list>
      <ion-item  ui-sref="myHome">Home</ion-item>
    </ion-list>

    <ion-list>
      <ion-item ui-sref="list">Lists</ion-item>
    </ion-list>

    <ion-list>
      <ion-item ui-sref="login">Logout</ion-item>
    </ion-list>

  </ion-side-menu>

</ion-side-menus>
